h2 {
     color:orange;
}

body{
    background-color: hsl(180, 35%, 34%);
    color:white;
    font-family: Roboto;
    text-align: center;
}

header{
    border-bottom: 1px solid grey;
}

footer{
    border-top: 1px solid grey;
}